{{ define "likes" }}
<i class="fas fa-heart like-post"></i>
<span> {{ .Likes }}</span>
{{ end }}

{{ define "edit" }}
<a href="/edit"><i class="fas fa-edit"></i></a>

{{ end }}

{{ define "delete" }}
<a href="/delete"><i class="fas fa-trash text-danger"></i></a>
{{ end }}

{{ define "post-header" }}
<h1 class="display-4">{{ .Title }}</h1>
<p class="lead">{{ .Content }}</p>
<a href="#">{{ .AuthorNick }} {{ .CreatedAt.Format "02/01/2006 03:04" }}</a>
<hr class="my-4">
{{ end }}

{{ define "post-with-permission" }}
    <div class="jumbotron" data-post-id="{{ .ID }}">
        {{ template "post-header" . }}
        <p>
            {{ template "likes" . }}
            {{ template "edit" . }}
            {{ template "delete" . }}
        </p>

    </div>
{{ end }}

{{ define "post-without-permission" }}
<div class="jumbotron" data-post-id="{{ .ID }}">
    {{ template "post-header" . }}
    <p>
        {{ template "likes" . }}
    </p>
</div>
{{ end }}

